 <%= render partial: 'shared/header'%>
<div class="main">
  <div class="inner">
    <div class="form_wapper">
     <h2 class="page-heading">NewAllage</h2>
     <%= render partial: "form"%>
    </div>
  </div>
</div>