/* ヘッダー */

.header {
 background-image:url("black-1072366_1280.webp");
  margin-bottom: 48px;
  padding: 20px 0;

}
.header h1{
  color:#fff;
  font-family: serif, Times;
  font-size: 40px;
}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 200px;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  border: 2px #fff solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #fff;
}